#todoInput {
    position: relative;
    width: 260px;
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fff1;
    color: inherit;
}

#todoInput:hover {
    border-color: #fff;
    background-color: #fff2;
}

#addBtn {
    position: relative;
    width: 120px;
    float: right;
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fff1;
    color: inherit;
    cursor: pointer;
    text-align: center;
    margin: 0;
    user-select: none;
}

#addBtn:hover {
    border-color: #fff4;
    background-color: #fff2;
    transform: scale(1.05);
}

#todoList {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: linear-gradient(45deg, #08f3, #0281);
    box-sizing: border-box;
    min-height: 16px;
}

.todoListItemDate {
    color: #fffa;
}

.todoListItem {
    position: relative;
    width: 100%;
    height: 64px;
    padding: 10px;
    margin-bottom: 8px;
    white-space: nowrap;
    border-radius: var(--border-radius);
    border: 1px solid #fff4;
    background-color: #0002;
    box-sizing: border-box;
}

.todoListItem:hover {
    background-color: #0004;
}


.removeBtn {
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 10px;
    white-space: nowrap;
    border-radius: var(--border-radius);
    border: 1px solid #fff4;
    background-color: #fff2;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}

.removeBtn:hover {
    border-color: #fff4;
    background-color: #fff3;
    transform: scale(1.1);
}